.App{
  margin-inline: 0px;
  background-color:azure;
  height: fit-content;
}
.nav_cont{
  width: 100%;
  height: 20vh;
  /* background:rgb(145, 130, 130); */
}
.slider_cont{
  width: 100%;
  height: 70vh;
  /* background-color:green; */
}